<html>
<head>
    <title>AccountMap - <%= result[0].AccountEmail %></title>
</head>
<body>
<h1>Account Map Stats</h1>
<ul>
    <li>Account Email: <%= result[0].AccountEmail %></li>
    <li>Most Played Map: <%= result[0].Most_Played_Map %></li>
    <li>Best Map Type: <%= result[0].Best_Map_Type %></li>
    <li>Best Map: <%= result[0].Best_Map %></li>
</ul>
</body>

</html>