<html>
<head>
    <title>Skills - <%= result[0].AccountEmail %></title>
</head>
<body>
<h1>Skills</h1>
<ul>
    <li>Skill ID: <%= result[0].Skill_id%></li>
    <li>Account Name: <%= result[0].AccountEmail %></li>
    <li>Current Skill Rating: <%= result[0].Cur_Skill_Rating %></li>
    <li>Past Skill Rating: <%= result[0].Past_Skill_Rating %></li>
</ul>
</body>

</html>